@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.navigation-item,
.footer-social-list,
.product-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #f2f2f2;
}
.wrapper {
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
}
.mini-logo-sedona {
  margin-right: 30px;
}
.page-header {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 410px;
}
.navigation-item {
  width: 400px;
}

.navigation-user {
  width: 350px;
  margin-left: auto;
}
.navigation-search {
  background-image: url(../images/search.svg);
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  background-repeat: no-repeat;
}
.navigation-favourites {
  background-image: url(../images/favourites.svg);
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  background-repeat: no-repeat;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.button {
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}
.button-navigation {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  /* padding: 8px 34px; */
}
.main {
  flex-grow: 1;
  width: 1200px;
}

.hero {
  background-color: #3c83d491;
  text-align: center;
  background-image: url(../images/jagged-edges.svg),
    url(../images/welcome-background.jpg);
  background-size: 100% auto 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  width: 1200px;
  height: 485px;
}
.hero-logo {
  padding: 51px 371px 82px;
}
/* advantages  */
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-caption {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-top: 69px;
}
.subtitle {
  margin: 25px 274px 90px;

  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
.advantages-item {
  width: 230px;
  height: 181px;
  display: flex;
  flex-direction: column;
  padding: 92px 85px 111px;
}

.advantages-item-blue {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #82b3d3;
}

.advantages-item-blue-container {
  padding: 92px 85px 111px;
}
.advantiges-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 28px 62px;
  width: 175px;
  text-align: center;
}
.advantiges-title-blue {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 28px 62px;
  width: 175px;
  text-align: center;
}
.advantages-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 230px;
  text-align: center;
  margin: 0;
  color: #000000;
}
.advantages-description-blue {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 230px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

.advantages-photo2 {
  background-color: #808080;
  width: 800px;
  height: 384px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-subitem {
  width: 230px;
  padding: 185px 85px 81px;
  display: flex;
  flex-direction: column;
}
.advantiges-title {
  margin-bottom: 30px;
}
.advantages-subitem:nth-child(8),
.advantages-subitem:nth-child(10) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* ЗАИНТЕРЕСОВАЛИСЬ? / ПОИСК */
.search {
  margin: 96px 304px;
  text-align: center;
  padding: 0;
}
.search-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding: 20px;
}
.search-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 0 54px;
}
.button-search {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  padding: 8px 50px;
  border-radius: 4px;
}
/* ПОДПИШИТЕСЬ НА РАССЫЛКУ */
.newsletter {
  color: #ffffff;
  background-color: #808080;
  background-image: url(/images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 1200px;
  height: 415px;
  text-align: center;
}
.newsletter-button {
  background-color: #82b3d3;
}
.newsletter-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 96px 398px 0;
}
.newsletter-subscribtion {
  width: 475px;
  margin: 0 auto;
  padding: 20px 104px 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.subscribtion-form {
  margin: 0 auto;
}
/* FOOTER */
.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 120px;
}
.footer-social {
  margin-left: 70px;
  outline: 2px tomato solid;
  width: 142px;
  height: 40px;
}
.html-academy-logo {
  margin-right: 70px;
  height: 32px;
  width: 114px;
}
/* CATALOG */
.filter {
  color: #ffffff;
  background-color: grey;
  background-image: url(/images/catalog-filter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 412px;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
}
/* КАТАЛОГ */
.catalog-container {
  display: flex;
  flex-direction: row;
}
.product-list {
  gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 40px 70px 20px;
}
.product-card {
  box-sizing: border-box;
  width: 340px;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  border: 1px solid #e6e6e6;
}
.catalog-products {
  width: 1060px;
  height: 160px;
}

.catalog-filter {
  outline: red 3px solid;
  margin: 40px 70px 70px;
  display: flex;
  flex-direction: row;
}
.button-catalog-group {
  display: flex;
  flex-direction: column;
}
.header-inner {
  width: 1060px;
  height: 107px;
  margin: 35px 70px;
}
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}
/* .catalog-filter-label input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
} */
.button-catalog {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.button-catalog-reset {
  background: transparent;
}
.found-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.select-control {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.product-card-more-info {
  color: #ffffff;
  background-color: #756157;
}
.product-card-favorites {
  color: #ffffff;
  background-color: #82b3d3;
}
.product-card-favorites-selected {
  color: #ffffff;
  background-color: #7db54f;
}
.product-card-rating {
  width: 140px;
  height: 37px;
  color: #333333;
  background-color: #f2f2f2;
}
/* PAGINATION */
.pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 0px;
  width: 1060px;
  height: 60px;
  margin: 80px 70px 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 4px;
}
.pagination-link {
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}
.pagination-current {
  width: 60px;
  height: 60px;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.pagination-space {
  width: 60px;
  height: 60px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background: transparent;
  border-radius: 4px;
}

.newsletter-catalog {
  background: transparent;
  outline: 5px solid red;
}
.newsletter-title-catalog {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.newsletter-subscribtion-catalog {
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
